*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.my-body {
    width: 100vw;
    height: 700px;
    overflow: hidden;
}

.my-body img {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

form {
    height: 520px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 0 40px rgba(8,7,16,0.6); */
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.my-body form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.my-body form input::placeholder {
    color: rgba(255, 255, 255, 0.543);
}

.upload-blog input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 17px;
    font-weight: 300;
    outline: none;
    border: 1px solid black;
}

.upload-blog input ::placeholder {
    color: black;
}

.button {
    background: transparent;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    width: 100%;
    padding: 13px 0px;
}

.button:hover {
    border-radius: 10px;
}


@media only screen and (max-width: 1150px) {
    form {
        height: 520px;
        width: 400px;
        position: absolute;
        transform: translate(-50%, -15%);
        top: 50%;
        left: 50%;
        background: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        /* box-shadow: 0 0 40px rgba(8,7,16,0.6); */
        padding: 50px 35px;
    }
} 